<style>

    .body{
      background-color: aquamarine;
  }
  </style>
<div class="container">
    <form>
        <div class="form-group">
            
            <marquee direction="up"><h1 class="text-center text-primary">🤪CALCULADORA SRI🤪</h1></marquee>
            
            <!--<nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Logo</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/"> Home</a></li>
                        <li><a href="/"> Editar</a></li>
                        <li><a href="/"> Consultar</a></li>
                    </ul>
                </div>
            </nav>-->

            <marquee><img src="../assets/descargar.png" class="img-fluid" alt="10"></marquee>
            <marquee direction="up"><p> Esta APP le permite que las personas calcular el valor que deben pagar por Impuesto a la Renta</p></marquee>
            <app-menu></app-menu>
          
            <router-outlet></router-outlet>
        </div>
    </form>
</div>